<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/encabezado.jpg" />
		</div>
	</div>
	<div>
		<h2>Que es ?</h2>
		<p>El Registro Ciudadano es una identificación digital única que permite al ciudadano registrado acceder a información y servicios del Gobierno Autónomo Municipal de La Paz. El ciudadano registra proveyendo sus generales de ley y datos domiciliarios básicos, los cuales son resguardados con las más estrictas medidas de seguridad informática</p>
	</div>
	<div>
		<h2>Como me registro ?</h2>
		<ul>
			<li>Ingreso mi número de Cédula de Identidad</li>
			<li>Selecciono el lugar donde fue expedido</li>
			<li>Introduzco mi datos personales</li>
			<li>Introduzco mis datos domiciliarios (lo más precisos posible) </li>
		</ul>
	</div>
	<div>
		<h2>Beneficios</h2>
		<ul>
			<li>Respuesta inmediata a mi consulta</li>
			<li>Información sobre vencimiento de obligaciones</li>
			<li>Puedo realizar todos mis trámites y consultas en línea</li>
			<li>Ahorro tiempo </li>
		</ul>
	</div>
	<div>
		<h2>Estructura</h2>
		<img class="img-responsive text-center" src="modules/core/img/brand/estructura.png" />
	</div>
	<div class="row">
		<div class="col-lg-4 well">
			<img align="center" src="modules/core/img/brand/1.jpg" width= "100" height="100" align="center">
			<h2 class="text-danger">
				<strong>R</strong>egistro
			</h2>
			<p>El ciudadano se registra vía la red Internet,llenando un formulario bajo declaración jurada.</p>
		</div>
		<div class="col-lg-4 well">
			<img align="center" src="modules/core/img/brand/2.jpg" width= "100" height="100" align="center">
			<h2 class="text-primary"> 
				<strong>V</strong>erificacion
			</h2>
			<p>El ciudadano debe verificar su identidad digital en la plataforma de atención en la sub alcaldía más cercana </p>
		</div>
		<div class="col-lg-4 well">
			<img align="center" src="modules/core/img/brand/3.jpg" width= "100" height="100" align="center">
			<h2 class="text-success">
				<strong>A</strong>cceso
			</h2>
			<p>El ciudadano puede acceder a su espacio de trabajo en la plataforma de Gobierno Electrónico </p>
		</div>
	</div>
</section>
