<div class="col-md-12" class="container" ng-controller="opcionesController">
<legend> <label for="title">Opciones</label> </legend>
<div class="row">
<div class="col-md-12">

  <div class="row">
    <div class="col-md-2">PageSize:
        <select ng-model="entryLimit" class="form-control">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>
    </div>
    <div class="col-md-3">Buscar:
        <input ng-model = "query" class="form-control" placeholder="buscar" >
    </div>  
    <div class="col-md-4">
            <h5>lista {{ totalItems }} de {{ totalItems}} total registros</h5>
    </div> 
  </div>
    <br/>

    <nav class= "navbar navbar-default" role= "navigation" >
        <a class="btn btn-primary" data-toggle="modal" data-target="#registro">
           <i class="glyphicon glyphicon-plus-sign"></i> Nueva Opcion
        </a>
    </nav>
        <table class="table table-hover table-striped table-bordered todolist" >
        <thead>
       <th>OPCIONES&nbsp;</th>
        <th>GRUPO&nbsp;</th>
        <th>OPCION&nbsp;</th>
        <th>CONTENIDO&nbsp;</th>
        <th>ADICIONAL&nbsp;</th>
        <th>ORDEN&nbsp;</th>
        <th>IMAGEN&nbsp;</th>
        <th>REGISTRADO&nbsp;</th>
        <th>MODIFICADO&nbsp;</th>
        <th>USUARIO&nbsp;</th>
        <th>ESTADO&nbsp;</th>
        </thead>
        <tbody>
            
            <!--<tr ng-repeat="persona in personas | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">-->
            <tr ng-repeat="data in opcion.record  | filter: query">
                <td><a href="#" ng-click="obtAnimal(data.ID_GRUPO)" class="btn btn-primary" data-toggle="modal" data-target="#registro"></a>
                    <a href="#" onclick="" class="glyphicon glyphicon-trash" ></a> </td>
                <td>{{data.grp_grupo}}</td>
                <td>{{data.opc_opcion}}</td>
                <td>{{data.opc_contenido}}</td>
                <td>{{data.opc_adicional}}</td>
                <td>{{data.opc_orden}}</td>
                <td>{{data.imagen}}</td>
                <td>{{data.opc_registrado}}</td>
                <td>{{data.opc_modificado}}</td>
                <td>{{data.opc_usr_id}}</td>
                <td>{{data.opc_estado}}</td>
            </tr>
        </tbody>
        </table>
      </div>

    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel">Insertar Opciones</h4>
                </div>
                <div class="modal-body" >
                    <form id="bookmarkForm">
                        <div class="form-group">
                          <label for="category">Grupos</label>
                          <div class="input-group" >
                          <div class="input-group-addon">
                          <i class="glyphicon glyphicon-folder-open"></i>
                          </div>  
                          <select id="Grupos" class="form-control" ng-model="opciones.id_grupo"> 
                          <option value="-1">Seleccione...</option>
                          <option ng-repeat="data in ComboCustomersGrupos"  value="{{data.id_grupo}}">{{data.grupo}}</option>
                          </select> 
                          </div>
                        </div>
                      
                        <div class="form-group">
                            <label for="url">Opcion</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                <i class="glyphicon glyphicon-link"></i>
                                </div>
                                <input ng-model="opciones.opcion" id="color" class="form-control" type="text" placeholder="ingrese Opcion" value="opciones.opcion">
                          </div>
                        </div>
                        <div class="form-group" >
                            <label for="category">contenido</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                </div>
                                 <input ng-model="opciones.contenido" id="color" class="form-control" type="text" placeholder="ingrese contenido">
                    </div>
                        </div>
                         <div class="form-group" >
                            <label for="category">adicional</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                </div>
                                 <input ng-model="opciones.adicional" id="color" class="form-control" type="text" placeholder="ingrese adicional" value="opciones.adicional">
                            </div>
                        </div>
                          <div class="form-group" >
                            <label for="category">orden</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                </div>
                               <input ng-model="opciones.orden" id="color" class="form-control" type="text" placeholder="ingrese orden" value="opciones.orden">
                            </div>
                        </div>
                          <div class="form-group" >
                            <label for="category">imagen</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                </div>
                                <input ng-model="opciones.imagen" id="color" class="form-control" type="text" placeholder="ingrese imagen" value="opciones.imagen">
            
                            </div>
                        </div>
                    </form>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button ng-click="GuardarOpciones(opciones)"  data-dismiss="modal"  type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>


  
  <br />

</div>
