<div class="col-md-12" class="container" ng-controller="accesosControler">
<legend> <label for="title">Accesos</label> </legend>
<div class="row">
<div class="col-md-12">

  <div class="row">
    <div class="col-md-2">PageSize:
        <select ng-model="entryLimit" class="form-control">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>
    </div>
    <div class="col-md-3">Buscar:
        <input ng-model = "query" class="form-control" placeholder="buscar" >
    </div>  
    <div class="col-md-4">
            <h5>lista {{ totalItems }} de {{ totalItems}} total registros</h5>
    </div> 
  </div>
    <br/>

    <nav class= "navbar navbar-default" role= "navigation" >
        <a class="btn btn-primary" data-toggle="modal" data-target="#registro">
           <i class="glyphicon glyphicon-plus-sign"></i> Nuevo Acceso
        </a>
    </nav>
        <table class="table table-hover table-striped table-bordered todolist" >
        <thead>
       <th>OPCIONES&nbsp;</th>
        <th>ROL&nbsp;</th>
        <th>OPCION&nbsp;</th>
        <th>REGISTRADO&nbsp;</th>
        <th>MODIFICADO&nbsp;</th>
        <th>USUARIO&nbsp;</th>
        <th>ESTADO&nbsp;</th>
        </thead>
        <tbody>
            
            <!--<tr ng-repeat="persona in personas | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">-->
            <tr ng-repeat="data in acceso.record  | filter: query">
                <td><a href="#" ng-click="obtAnimal(data.ID_GRUPO)" class="btn btn-primary" data-toggle="modal" data-target="#registro"></a>
                    <a href="#" onclick="" class="glyphicon glyphicon-trash" ></a> </td>
                <td>{{data.rls_rol}}</td>
                <td>{{data.opc_opcion}}</td>
                <td>{{data.acc_registrado}}</td>
                <td>{{data.acc_modificado}}</td>
                <td>{{data.acc_usr_id}}</td>
                <td>{{data.acc_estado}}</td>
            </tr>
        </tbody>
        </table>
      </div>

    <div class="modal fade" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel">nuevo Acceso</h4>
                </div>
                <div class="modal-body" >
                    <form id="bookmarkForm">
                        <div class="form-group">
                          <label for="category">Rol</label>
                          <div class="input-group" >
                          <div class="input-group-addon">
                          <i class="glyphicon glyphicon-folder-open"></i>
                          </div>  
                          <select id="Grupos" class="form-control" ng-model="accesos.id_rol"> 
                          <option value="-1">Seleccione...</option>
                          <option ng-repeat="data in ComboRol"  value="{{data.id_rol}}">{{data.rol}}</option>
                          </select> 
                          </div>
                        </div>

                       <div class="form-group">
                          <label for="category">Opcion</label>
                          <div class="input-group" >
                          <div class="input-group-addon">
                          <i class="glyphicon glyphicon-folder-open"></i>
                          </div>  
                          <select id="Grupos" class="form-control" ng-model="accesos.id_opcion"> 
                          <option value="-1">Seleccione...</option>
                          <option ng-repeat="opcion in ComboOpcion"  value="{{opcion.id_opcion}}">{{opcion.opcion}}</option>
                          </select> 
                          </div>
                        </div>

                    
                       
                    </form>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button ng-click="GuardarAcceso(accesos)" type="button" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
    </div>



  
  <br />

</div>
